<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(application|system|vendor) - [F,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>